.wrap {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}
/*laoding...*/
#wrapper {
    background: #fff;
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 1600px;
}

#loader {
    background: url('../img/loading.gif') 50% 50% no-repeat #fff;
    width: 200px;
    height: 200px;
    margin: 300px auto;
}
/*回到顶部*/
#gotop{
    width: 80px;
    height: 80px;
    position: fixed;
    bottom:25px;
    right:25px;
    z-index: 4;
}
#gotop :hover{
    cursor: pointer;
}



@media (max-width: 768px) {
    #gotop{
        width: 40px;
        height: 40px;
        right: 10px;
        bottom: 10px;
    }

}
/*导航条开始*/
.navbar-nav {
    float: right;
}

.navbar {
    height: 80px;
}

.navbar-toggle {
    margin-top: 22px;
}

#navTop {
    position: fixed;
    right: 0;
}

#navTop li {
    width: 100px;
    height: 82px;
    transition: all 1s;
}

.navbar-nav > li > a {
    text-align: center;
    line-height: 50px;
    width: 100px;
    height: 79px;
    font-weight: bolder;
    background: #FFFFFF;
}

#navTop > .active > a {
    background: none;
    border-bottom: #164e71 3px solid;
    color: #164e71;

}
@media (max-width: 768px) {
    #navTop{
        margin-top: 81px;
        opacity:1;
    }
    #navTop>li{
        width: 200px;
        height: 47px;
        opacity: 1;

    }
    #navTop>li>a{
        color: #FFFFFF;
        background: #337ab7;
        width: 200px;
        height: 47px;line-height: 20px;
        opacity:1;
    }

    #navTop > .active > a{
        background: #FFFFFF;
        color: #337ab7;
        opacity:1;
    }

    
}
/*导航条结束*/
/*开始图片开始*/
.begin_img {
    width: 100%;
    height: 700px;
    background-image: url("../img/newBg.jpg");
    top: 0;
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    z-index: 1;
}



.begin_img .intro {
    position: absolute;
    top: 355px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform:translate(-50%, -50%) ;
    transform: translate(-50%, -50%);
    z-index:4;
}
.typed-cursor,
.element {
    display: inline;
    font-weight: 700;
    font-size: 60px;
    color: #ffffff;
}

.begin_img_btn {
    width: 140px;
    color: #ffffff;
    border: #ffffff 1px solid;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 15px;
    -webkit-transition: all 1s;
    -moz-transition:all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.begin_img_btn:hover {
    background: #ffffff;
    color: #92a3b7;
}



/*开始图片结束*/
/*about_me开始*/
#about_me .my_photo {
    margin: 50px 20px 50px 0;
    position: relative;
    overflow: hidden;

}

 #about_me .my_photo img {
     width: 100%;
     position: relative;

     z-index: 2;
 }

#about_me .my_photo:hover .mask_about{
    bottom: 0;
}
#about_me .mask_about {
    position: absolute;
    bottom: -100px;
    left: 1px;
    z-index: 3;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 59px;
    -webkit-transition:  all 0.5s;
    -moz-transition:  all 0.5s;
    -ms-transition:  all 0.5s;
    -o-transition:  all 0.5s;
    transition: all 0.5s;
}

#about_me .about-text {
    padding: 50px 20px;
}

#about_me .about-text h4 {
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 50px;
}

#about_me .about-text p {
    font-size: 16px;
    color: #595959;
    line-height: 26px;
    margin-right: 80px;
}
@media(max-width: 768px){
    #about_me .about-text p {
        margin-right: 0;
    }
}

#about_me .aboutMeCorn{
    position: absolute;
    top: 0;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#about_me .aboutMeCorn img{
    width: 30px;
}
#about_me .aboutMeCorn li{
    float: left;
    margin: 15px;
    background: #FFFFFF;
    border-radius: 50%;
}
/*about_me结束*/
/*my_skill开始*/
#my_skills {
    background: url("../img/skill-bg.jpg");
}

#my_skills p {
    color: #FFFFFF;
    font-weight: bolder;
    margin-bottom: 20px;
}

.progress {
    background: #d7d7d7;
    height: 6px;
}

#my_skills .profession-my {
    -webkit-transition: all 2s;
    -moz-transition:all 2s;
    -ms-transition:all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    background: #164e71;
}

#my_skills h4 {
    color: #ccc;
}

#my_skills .progress-bar {
    text-align: right;
}

#my_skills .progress-bar span {
    position: absolute;
    background: #164e71;
    margin-top: -20px;
    border-radius: 30%;

}

/*my_skills结束*/
/*my_blog开始*/
#my_blog {
    padding-top: 20px;
    padding-bottom: 20px;
}

#my_blog .wrap > h1 {
    text-align: center;
}

#my_blog .blog {
    display: inline-block;
    border: 1px solid #000000;
}

#my_blog .row > div {
    margin-top: 10px;
    padding: 30px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#my_blog .row > div:hover {
    padding: 0;
}

#my_blog .blog_big {
    width: 60%;
    height: 80%;
    position: fixed;
    overflow: hidden;
    top: 15%;
    left: 20%;
    display: none;
}

#my_blog .blog_go {
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    overflow: scroll;
    background-size: auto 100%;
    background-position:center;
    color: #FFFFFF;
}
#my_blog .blog_big p{
    margin:50px;
}
#my_blog .blog_big audio {
    position: fixed;
    bottom: 0;
    -webkit-transform:translate(-50%, -200%) ;
    -moz-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    -o-transform:translate(-50%, -200%) ;
    transform: translate(-50%, -200%);
}

#my_blog .blog_big1 {
    background-image: url("../img/bg/bg-xzq.png");

}

#my_blog .blog_big2 {
    background-image: url("../img/bg/bg-jj.png");


}

#my_blog .blog_big3 {
    background-image: url("../img/bg/bg-jay.png");

    color: #000;
}

#my_blog .blog_big4 {
    background-image: url("../img/bg/bg-wf.png");

}

#my_blog .num {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#my_blog .num > li, #my_blog .comer > li {
    background: #000;
    color: #FFFFFF;
    margin: 5px;
    float: left;
    padding: 0 5px;
}

#my_blog .comer {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

#my_blog .blog_big .blog_select {
    display: block;
}

#my_blog .num .blog_select {
    background: orange;
}

#my_blog .blog span {
    display: inline-block;
    background: #164e71;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform:translateY(-50%);
    font-size: 12px;
    color: #FFFFFF;
    padding: 10px;
}

#my_blog .blog img {
    width: 100%;
}
audio{
    width: 30%;
}
@media(max-width: 768px){
    audio{
        width: 30%;
    }
}
/*my_blog结束*/
/*my_pictures开始*/
#my_pictures {
    padding-top: 20px;
}

#my_pictures .wrap h1 {
    text-align: center;
}

#pictures_wall {
    width: 100%;
    height: 613px;
    position: relative;
}

#pictures_wall .img {
    width: 260px;
    height: 306px;
    background: #ffffff no-repeat center;
    border: 5px solid #fff;;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition:  all 1s ease;
    -moz-transition:  all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition:  all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
}

#pictures_wall .img span {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    -webkit-transition:  all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition:  all 1s ease;
    -o-transition:  all 1s ease;
    transition: all 1s ease;
}

#next, #prev {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    cursor: pointer;
    display: none;
    margin-top: -90px;
}

#next {
    background-image: url(../img/next.png);
    right: 0;
    border-radius: 8px 0 0 8px;
}

#prev {
    background-image: url(../img/prev.png);
    left: 0;
    border-radius: 0 8px 8px 0;
}
@media (max-width:1024px) {
    #my_pictures{
        display: none;
    }
}
/*my_pictures结束*/
/*contact开始*/
#contact {
    background: url("../img/contact.jpg");
}

#contact .wrap {
    padding-left: 180px;
    padding-right: 180px;
}

#contact .wrap > h1 {
    padding-top: 50px;
    text-align: center;
}

#contact .row > .col-md-4 {
    padding: 50px;
}

.contactMe {
    text-align: center;
}

#contact span {
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    margin-bottom: 30px;
}

#contact p {
    color: #FFFFFF;
}

#contact .top {
    width: 49%;
    height: 50px;
    text-indent: 20px;
    margin-bottom: 20px;
}

#register {
    text-align: center;
}

#exampleInputName {
    float: left;
}

#exampleInputEmail {
    float: right;
}

#contact .middle {
    width: 100%;
    height: 100px;
    text-indent: 20px;
    line-height: 30px;
}

#contact .bottom {
    background: rgba(0, 0, 0, 0);
    border: 1px #FFFFFF solid;
    color: #FFFFFF;
    width: 103px;
    height: 46px;
    margin-top: 20px;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

#contact .bottom:hover {
    background: #FFFFFF;
    color: #1b5071;
}
@media (max-width: 1024px) {
    #contact .wrap{
        padding-left:5%;
        padding-right:5%;
    }
}

/*contact结束*/
/*footer*/
footer{
    text-align: center ;
    margin: 20px;
}
