.wrap {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}

/*导航条开始*/
.navbar-nav {
    float: right;
}

.navbar {
    height: 80px;
}

.navbar-toggle {
    margin-top: 22px;
}

#navTop {
    position: absolute;
    right: 0;
}

#navTop li {
    width: 100px;
    height: 82px;
}

.navbar-nav > li > a {
    text-align: center;
    line-height: 50px;
    width: 100px;
    height: 79px;
    font-weight: bolder;
    background: #FFFFFF;
}

#navTop > .active > a {
    background: none;
    border-bottom: #164e71 3px solid;
    color: #164e71;
}

/*导航条结束*/
/*开始图片开始*/
.begin_img {
    position: relative;
    overflow: hidden;
}

.begin_img img {
    width: 150%;
    margin-top: -300px;
}

.begin_img .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.element {
    font-size: 60px;
    font-weight: bolder;
    color: #ffffff;
}

.begin_img_btn {
    width: 140px;
    color: #ffffff;
    border: #ffffff 1px solid;
    border-radius: 0;
    font-size: 15px;
}

.begin_img_btn:hover {
    background: #ffffff;
    color: #92a3b7;
}

/*开始图片结束*/
/*about_me开始*/
#about_me .my_photo {
    padding: 50px 20px 50px 0;
}

#about_me .my_photo, #about_me .my_photo img {
    width: 100%;
}

#about_me .mask_about {
    width: 100%;
    height: 0;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    z-index: 3;
    transform: translateY(-100%);
    transition: all 0.5s ease-out;
}

#about_me .about-text {
    padding: 50px 20px;
}

#about_me .about-text h4 {
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 50px;
}

#about_me .about-text p {
    font-size: 15px;
    color: #595959;
    line-height: 26px;
    margin-right: 80px;
}

/*about_me结束*/
/*my_skill开始*/
#my_skills{
    background: url("../img/skill-bg.jpg");
}
#my_skills p{
    color: #FFFFFF;
    font-weight: bolder;
    margin-bottom: 20px;
}
.progress{
    background: #d7d7d7;
    height: 6px;
}
#my_skills .profession-my{
    background: #164e71;
}
#my_skills h4{
    color: #d7d7d7;
}
#my_skills .progress-bar{
    text-align: right;
}
#my_skills .progress-bar span{
    position: absolute;
    background: #164e71;
    margin-top: -20px;
    border-radius:30%;

}
/*my_skills结束*/
/*my_blog开始*/
#my_blog .wrap >h1{
    text-align: center;
}
#my_blog .blog{
    height: 500px;
    border: 1px solid #000000;
}
#my_blog .row>div{
    margin-top: 10px;
    padding: 30px;
    transition: all 1s ;
}
#my_blog .row>div:hover{
    padding: 0;
}
#my_blog .blog_big{
    width: 300px;
    height: 100px;
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform:translate(-50%) ;
    display: none;
    transition: display 1s;
}
#my_blog .blog_go{
    width: 100%;
    height: 100%;
    display: none;
}
#my_blog .blog_big1{
    background: #fff000;
}
#my_blog .blog_big2{
    background: #ff0000;
 }
#my_blog .blog_big3{
    background: #00ff00;
}
#my_blog .blog_big4{
    background: #0000ff;
}
#my_blog .num{
    position: absolute;
    right: 5px;
    bottom: 5px;
}
#my_blog .num>li,#my_blog .comer>li{
    background: #000;
    color: #FFFFFF;
    margin: 5px;
    float: left;
    padding: 0 5px;
}

#my_blog .comer{
    position: absolute;
    left: 5px;
    bottom: 5px;
}
#my_blog .blog_big .blog_select{
    display: block;
}
#my_blog .num .blog_select{
    background: orange;
}
















/*my_blog结束*/
/*my_pictures开始*/
#my_pictures .wrap h1{
    text-align: center;
}
#pictures_wall{
    width: 100%;
    height: 613px;
    position: relative;
}
#pictures_wall .img{
    width: 260px;
    height: 204px;
    border: 5px solid #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left:0;
    transition: all 1s ease;
    cursor: pointer;
}
#pictures_wall .img span {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    transition: all 1s ease;
}

#next, #prev {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    cursor: pointer;
    display: none;
    margin-top: -90px;
}

#next {
    background-image: url(../img/next.png);
    right: 0;
    border-radius: 8px 0 0 8px;
}

#prev {
    background-image: url(../img/prev.png);
    left: 0;
    border-radius: 0 8px 8px 0;
}











/*my_pictures结束*/