.wrap{
	margin: 0 auto;
	width: 976px;
}
a{
	color: #fff;
	text-decoration: none;
}
a:link {}
a:visited {}
a:hover {}
a:hover{
	color: #ccc;
	transform: all 3s ease-in 1s;
}
a:active {}
body{
	height: 2000px;
}
/*adv*/
#adv{
	line-height: 40px;
	background: #444;
}
#adv .adv-wrap{
	text-align: right;
	font-size: 12px;
	
	color: #a8a8aa;
}
/*top-nav*/
#top-nav{
	height: 44px;
	background: rgba(0,0,0,0.8);
}
#top-nav .top-nav-wrap{
	height: 44px;
	display: -webkit-box;
	box-pack:justify;
	/*justify-content: space-around;*/
	/*align-items: center;*/
	-webkit-box-align: center;
}
#top-nav .top-nav-wrap  .nav-item{
	/*display: inline;*/
	/*width: 0;*/
	-webkit-box-flex: 1;
	vertical-align: middle;

	
}
#top-nav .top-nav-wrap li a{
	float: left;
	font-size: 12px;
	font-weight: 100;
}
/*bigIphone*/
#bigIphone h2{
	text-align: center;
	font-size: 45px;
	padding-top: 88px;
	font-weight: 100px;
}
#bigIphone h3{
	text-align: center;
	padding-top: 8px;
	font-size: 20px;
	font-weight: lighter;
}
#bigIphone .bigIphonex{
	width: 910px;
	margin: 90px auto 0;
}
#bigIphone .holiday{
	width: 692px;
	margin: 90px auto 0;
	padding-bottom: 60px
}
/*#others*/
.container{
	width: 100%;
	padding: 0;
	margin: 0;

}

#others h4{
	font-size: 30px;
	font-weight: 600;
}
#others h5{
	line-height: 1.5;
	margin-top: 4px;
	font-size: 16px;
	font-weight: 400;
}
#others .change{
	text-align: center;
	background-image: url(../img/trade_up_large.jpg);
	background-position:center center;
	background-repeat: no-repeat; 
	height: 100%;
	height: 580px;
}
#others .iphone8{
	height: 580px;
	text-align: center;
	background-image: url(../img/iphone_8_large.jpg);
	background-position: center bottom;
	background-repeat: no-repeat; 
	background-size: 415px 416px;
}
#others .watch{
	height: 580px;
	text-align: center;
	background-image: url(../img/watch_series_3_large.jpg);
	background-size: 586px 274px;
    background-repeat: no-repeat;
    background-position: center center;
}
#others .macbook{
	height: 580px;
	text-align: center;
	background-image: url(../img/macbook_large.jpg);
	background-size: 251px 420px;
    background-repeat: no-repeat;
    background-position: center bottom; 
}
#others .ipadPro{
	height: 580px;
	text-align: center;
	background-image: url(../img/ipad_pro_large.jpg);
	background-size: 510px 146px;
    background-repeat: no-repeat;
	background-position: center center;
}
#others .airPods{
	height: 580px;
	text-align: center;
	background-image: url(../img/airpods_large.jpg);
	background-size: 385px 304px;
    background-repeat: no-repeat;
	background-position: center center;	
}
/*words*/
#words{
	width: 100%;
}
#words .wordsClass{
	display: -webkit-box;
}
#words .wordsUl{
	-webkit-box-flex:1;
}