@mixin test($f,$c){
  font-size: $f;
  color: $c;
}
@import "base";
body{
  color: #000;
  font-size: 12px;
  margin: 10px;
  -webkit-transition: all 1s;
  -moz-transition: all  1s;
  -ms-transition: all  1s;
  -o-transition: all  1s;
  transition: all  1s;
  padding: 10px;
  @include test(12px,#000)
}
$list : success,fail;
@each $var in $list {
  .#{$var}{
    background: url( $var + ".jpg"  );
  }
}